@model List<Ticket>;

<a asp-action="Add" class="btn btn-primary ms-3 mb-3">Add Ticket</a>

<div class="container">
    @foreach(var ticket in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <p>Creation Date: @ticket.CreatedDate</p>
                <p>IsClosed: @ticket.IsClosed</p>
                <p>Severity: @ticket.Severity</p>
                <p>Description: @ticket.Description</p>
                <p>Department: @ticket.Department?.Name</p>
                <p>Developer Names:</p>
                @foreach(var developer in @ticket.Developers)
                {
                    <p> -- @($"{developer.FirstName} {developer.LastName}")</p>
                }
                <a asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-warning me-3 text-white">Edit</a>
                <a asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>